---
// Component imports
import Link from './Link.astro';
import { Icon } from 'astro-icon/components';


// Data imports
import navData from '../data/navData.js';

const currentPath = Astro.url.pathname;
---

<div class="o-nav__list">
  <nav class="c-nav">
    <ul class="c-nav__list">
      {
        navData.map(item => {
          const hasChildren = item.children && item.children.length > 0;
          const isActive = currentPath === item.href || (hasChildren && item.children.some(child => currentPath === child.href));
          const isSubnavOpen = hasChildren && item.children.some(child => currentPath === child.href);

          return (
            hasChildren ? (
              <li class="c-nav__item">
                <a 
                  class="c-nav__link has-subnav" 
                  class:list={{ 'is-active': isActive }}
                >
                  <Icon name={item.iconName} class="c-nav__icon" width="36" height="36" />
                  <div class="c-nav__name">{item.name}</div>
                  {hasChildren && <span class="c-nav__subnav-caret" aria-hidden="true" />}
                </a>
                
                <ul
                  class="c-subnav"
                  class:list={{ 'is-open': isSubnavOpen }}
                >
                  {(item.children || []).map(subItem => {
                    const isSubActive = currentPath === subItem.href;

                    return (
                      <li class="c-subnav__item">
                        <a 
                          href={subItem.href} 
                          class="c-subnav__link" 
                          class:list={{ 'is-active': isSubActive }}
                        >
                          {subItem.name}
                        </a>
                      </li>
                    );
                  })
                  }
                </ul>
              </li>
            ) : (
              <li class="c-nav__item">
                <a 
                  href={item.href} 
                  class="c-nav__link" 
                  class:list={{ 'is-active': isActive }}
                >
                  <Icon name={item.iconName} class="c-nav__icon" width="36" height="36" />
                  <div class="c-nav__name">{item.name}</div>
                </a>  
              </li>
            )
          )
        })
      }
    </ul>
  </nav>
</div>

<script lang="ts">
  const btn = document.querySelectorAll('.c-nav__link.has-subnav');

  btn?.forEach(button => {
    button.addEventListener('click', () => {
      const parent = button.parentElement;
      const subnav = parent?.querySelector('.c-subnav');

      if (subnav) {
        subnav.classList.toggle('is-open');
      }
    });
  });
</script>